<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= foundSong.title %> | Song Details</title>
  <link rel="stylesheet" href="/styles/Songdetails.css" />
</head>
<body>
  <%- include('../partials/navbar') %>

  <div class="song-container">
    <h1><%= foundSong.title %></h1>
    <p><strong>Artist:</strong> <%= foundSong.artist %></p>
    <p><strong>Genre:</strong> <%= foundSong.genre %></p>
    <p><strong>Duration:</strong> <%= foundSong.duration %></p>

    <div class="actions">
      <form action="/songs/<%= foundSong._id %>/edit" method="GET">
        <button class="edit-btn" type="submit">Edit</button>
      </form>

      <form action="/songs/<%= foundSong._id %>?_method=DELETE" method="POST">
        <button class="delete-btn" type="submit">Delete</button>
      </form>
    </div>

    <form action="/songs" method="get">
  <button type="submit" class="back-btn"> Back to All Songs</button>
</form>

  </div>
</body>
</html>
